
    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <h2 class="text-center">Sobre</h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p>{{ site.about.p1 }}</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p>{{ site.about.p2 }}</p>
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <a href="{{ site.about.button_link }}" target="_blank" data-target="_blank" class="btn btn-lg btn-outline">
              <!-- <i class="fab fa-download"></i> -->
              {{ site.about.button_text }}
            </a>
          </div>
        </div>
      </div>
    </section>