<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" data-target="#page-top" href="{{site.github.url}}/#page-top">{{site.title}}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" data-target="#portfolio" href="{{site.github.url}}/#portfolio">{{site.data.data.navbar.portfolio}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" data-target="#about" href="{{site.github.url}}/#about">{{site.data.data.navbar.about}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" data-target="#experience" href="{{site.github.url}}/#experience">{{site.data.data.navbar.experience}}</a>
        </li>
        {% if site.header.set_blog %}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" data-target="/blog" href="{{site.github.url}}/blog">{{site.data.data.navbar.blog}}</a>
        </li>
        {% endif %}
        {% if site.header.set_resume %}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" data-target="/resume" href="{{site.github.url}}/resume">{{site.data.data.navbar.resume}}</a>
          <!--<a class="nav-link js-scroll-trigger" data-target="_blank" href={{site.data.data.resume-pdf.link}}>{{site.data.data.navbar.resume-download}}</a>-->
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>