{% assign resume-pdf = site.data.cv.resume-pdf %}
{% if resume-pdf %}
<section class="summary-section">

  <h3 class="section-back">
    <a href="/">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-arrow-left fa-stack-1x fa-inverse"></i>
          </span>
        Voltar para o site
    </a>
  </h3>

  <h3 class="section-resume">
    <a href={{ resume-pdf.link }}>
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i>
          </span>
        {{ resume-pdf.title }}
    </a>
  </h3>
    
</section><!--//section-->
{% endif %}
