/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */


.w3-left-align {
	text-align: left!important
}

.w3-right-align {
	text-align: right!important
}


.w3-left {
	float: left!important;
	margin-left: 5%;
}

.w3-right {
	float: right!important;
	margin-right: 5%;
}

.w3-badge,
.w3-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center
}

.w3-badge {
	border-radius: 50%
}

.w3-tooltip,
.w3-display-container {
	position: relative
}

.w3-display-container:hover .w3-display-hover {
	display: block
}

.w3-display-container:hover span.w3-display-hover {
	display: inline-block
}


.w3-content,
.w3-auto {
	margin-left: auto;
	margin-right: auto
}

.w3-content {
	max-width: 980px
}

.w3-auto {
	max-width: 1140px
}

.w3-center .w3-bar {
	display: inline-block;
	width: auto
}

.w3-bar-block.w3-center .w3-bar-item {
	text-align: center
}

.w3-center {
	text-align: center!important
}

.w3-section,
.w3-code {
	margin-top: 16px!important;
	margin-bottom: 16px!important
}

.w3-large {
	font-size: 18px!important
}

.w3-text-white,
.w3-hover-text-white:hover {
	color: #fff!important
}

.w3-display-bottommiddle {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%)
}

.w3-hover-text-khaki{
	font-size: x-large;
}

.w3-text-khaki,
.w3-hover-text-khaki:hover {
	color: #b4aa50!important
}

.w3-border {
	border: 1px solid #ccc!important
}


.w3-transparent,
.w3-hover-none:hover {
	background-color: transparent!important
}


.w3-white,
.w3-hover-white:hover {
	color: #000!important;
	background-color: #fff!important
}










